#navi{
	padding:1em;
}
#navi ul{
	margin-top:-0.5em;
	margin-bottom:-0.5em;
}
#navi li{
	padding:1em;
}

/*buttons to navigate zen garden pages*/

.carousel-buttons{
	display: flex;
	justify-content: space-around;
	margin:1em 0;
}
.carousel-buttons .cycle{
	color: #FFF;
	background: #000;
	border-color:#000;
	padding: 1em 1.5em;
}