body{
	background: url("http://i.huffpost.com/gadgets/slideshows/332838/slide_332838_3311261_free.jpg") no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align:center;
}
body p{
  font-family: 'montserrat', arial;
}

a{ 
text-decoration: none;
color: dodgerblue;
font-family: 'montserrat', arial;
}

#zen-intro h1{
  font-size: 72px;
  margin: 0px;
  box-shadow: 1px 1px 5px #000;
  text-shadow: 2px 2px 3px #FFF;
}

#zen-intro h2{
	margin-top:1em;
}

#zen-intro h2, h3{
	color:#FFF;
	padding:1em;
	font-size:1.75em;
	background: #222;
}

#zen-summary, #zen-preamble p, #zen-explanation p, #zen-participation p, #zen-benefits p, #zen-requirements p{
	color:#FFF;
	padding:1em;
	background-color: rgba(0,0,0,0.3);
}

#design-selection,#design-archives,#zen-resources{
	list-style:none;
	color: #FFF;
	background-color: rgba(0,0,0,0.3);
}


footer{
	position:absolute;
	text-align:center;
	background:#FFF;
	margin-top:100vh;
	padding:1em 2.75em;
}
	
@media (min-width:43.750em){
#zen-intro h2{
  margin-top: 11%;
}
#zen-intro h2, #zen-summary{
  display: inline-block;
  width: 40%;
  margin-right: -20%;
  margin-left: 13%; 
  border-radius: 5px;
}
#zen-preamble{
	margin-top: 8.5%;
	border-radius: 5px;
	display: inline-block;
	float: right;
	width: 40%;
	margin-right: 13%;
}
#zen-intro h2, #zen-summary, #zen-preamble,#zen-supporting,.sidebar{
	background-color: rgba(0,0,0,0.3);
}
#zen-supporting{
	display: inline-block;
	margin-top: 5%;
	width: 50%;
	border-radius: 5px;
	padding: 15px;
}

.sidebar{
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  float: right;
  margin-top: 5%;
}
.sidebar li {
	list-style: none;
}
footer{
	text-align:center;
}
}