*{
	margin:0;
	padding:0;
}

body{
	font-family: arial;
	background:#999;
}

/* Nav Bar */

nav {
	background: #AAA;
}

nav ul{
	max-height: 1.75em;
	max-width: 100%;
	display: flex;
	flex:1;
	justify-content:space-around;
}

nav li{
	list-style:none;
	flex-direction: row;
	font-family: arial;
	font-family: "Poppins", sans-serif;
	font-size: 2vh;
	padding: 0.87em;
}

nav ul a{
	color: #000;
}

nav ul a:hover{
	text-decoration:none;
	color:#FFF;
	border-top:1px solid #000;
}

nav ul li:hover{
	background:#000;
}

.selected {
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
	background: #A9A9AD;
}


/* Intro Picture */

jumbotron,
footer{
    text-align:center;
	font-family: 'Quicksand', arial;
    }
	
overlay,
.social-media{
	border-top:1px solid #BBB;
}

.jumbotron{
	position: relative;
	height: 24em;
    background-image: url("img/startup-photos.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	border-radius: 0;
    }
	
.jumbotron h2{
	font-family: "Archivo Black", sans-serif;
}

.jumbotron p{
	color: yellow;
	font-family: 'Lato';
}

.overlay{
	position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
	text-align: center;
	padding-top:5em;
    background-color:rgba(0, 0, 0, 0.2);
}

/*Lower Images*/

.col img {
	margin: 1.25em 0;
	border: 1px solid red;
}

/* Button Styles */

.btn {
	font-family: "Poppins", sans-serif;
	box-shadow: 2px 3px 2px rgba(0,0,0,1);
}

.col .btn{
	margin: auto 0 1.75em;
}
.col:nth-of-type(1)  .btn,
.col:nth-of-type(3)  .btn{
	background:#4772DC;
	color:white;
	border-color:#4772DC;
}

.col:nth-of-type(1)  .btn:hover,
.col:nth-of-type(3)  .btn:hover{
	background-color:#3E65C7;
	border-color:#3E65C7;
}

/*social media*/
.social-media {
	text-align:center;
	width:100%;
	margin: 2.5em 0 0;
	padding: 0.5em 0 .25em;
}
.social-media img {
	margin: 1em 0.5em;
	width: 25px;
	height:25px;
}

.social-media{
	background: #ddd;
}

.row{
	background: #eee;
}


/*Main Content*/


.col{
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	height: 30em;
}
.col h3{
	padding-bottom: 0.5em;
}
.col:nth-of-type(1),
.col:nth-of-type(3){
	background:#204090;
	color: white;
}

.col a :hover{
}


@media (min-width: 40.875em){
	.col .btn{
		margin: auto 1.5em 1.75em;
	}
}