
*{
	margin: 0;
	padding: 0;
}

.rel{
	position: relative;
}

.rel img{
	width:100%;
	height:100%;
}

.rel:before{
	content: 'Always Shining';
	position: absolute;
	background: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	font: bold 32px arial;
	padding-top: 22%;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.middle{
	background:darkblue;
	color: grey;
	padding: 1em;
	text-align:center;
}
.grey{
	background:grey;
	padding:0.15em;
}

#copyright {
	text-align:center;
	font-size: 0.75em;
	padding: 0.75em 0 1em;
}

.grey_scale {
	background: lightgrey;
	padding:0.75em;
	line-height: 1.5em;
}

.nasa h3{
	text-align:center;
	margin:0.75em 0;
}

.nasa img,
.nasa iframe{
	width: 100%; 
	height: 100%;
}

.data{
	visibility: hidden;
}

#main-footer{
	width: 100%;
	padding: 3%;
	visibility: hidden;
	text-align: center;
	background:#249;
	color:white;
}

nav {
	background: #AAA;
	margin-bottom:1em;
	padding-bottom:0.8em;
}

nav ul{
	max-height: 1.75em;
	max-width: 100%;
	display: flex;
	flex:1;
	justify-content:space-around;
}

nav li{
	list-style:none;
	flex-direction: row;
	font-family: arial;
	font-family: "Poppins", sans-serif;
	font-size: 2vh;
	padding: 0.87em;
}

nav ul a{
	color: #000;
}

nav ul a:hover{
	text-decoration:none;
	color:#FFF;
	border-top:1px solid #000;
}

nav ul li:hover{
	background:#000;
}

.selected {
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
	background: #A9A9AD;
}