#NASAApp{
	height:42em;
	text-align:center;
}


#NASAApp img{
	width:13.438em;
	height:10.625em;
	margin:auto;
}

#APOD{
	cursor: pointer;
}

@media (min-width: 31.250em){
	#NASAApp{
		min-width:50%;
		background: #222;
	}
	#NASAApp img{
	width:40em;
	height:25em;
	}
	
	#NASAApp p {
		margin-left: 5em;
		margin-right: 5em;
	}
	
	#NASAApp a {
		margin-left:18em;
		margin-right:18em;
	}
}