#NASAApp{
	height:40em;
	text-align:center;
	margin-top: 2em;
}


#NASAApp img{
	width:14em;
	height:10.625em;
	margin:1em auto 2em;
}

#APOD{
	cursor: pointer;
}

@media (min-width: 31.250em){
	#NASAApp{
		height:45em;
		background: #222;
	}
	#NASAApp img{
	width:60em;
	height:25em;
	}
	
	#NASAApp p {
		margin: 0 5em;
	}
	
	#NASAApp a {
		margin-left:18em;
		margin-right:18em;
	}
}