#nutritionApp{
	max-height:28em;
	width:14em;
	font-size: 1.5em;
	text-align:center;
}

#nutritionApp h3{
	text-align:center;
	color:#AAA;
	margin:-0.75em 0 -0.25em;
	text-shadow: 0 0 5px #000;
}

#nutritionApp p{
	font-size:0.4em;
}
#results{
	font-size:0.70em;
	margin-top:0.5em;
	color:aliceblue;
}

#area{
	margin: 0 1em;
	font-size:0.75em;
	border: 1px solid #CDC;
}

#firstResult,
#secondResult,
#thirdResult{
	margin:1em 0.25em 0.75em;
}

#s,#s1,#s2{
	padding:0 0.25em;
	color:#000;
	background: #CCC;
}


#submit{
	cursor:pointer;
}

@media(min-width:300px){
	#area{
	font-size:1em;
	}

	#nutritionApp{
	}
}
