#nutritionApp{
	max-height:24em;
	font-size: 1.5em;
	text-align:center;
}

#nutritionApp h3{
	text-align:center;
	color:#AAA;
	margin:-0.75em 0 -0.25em;
	text-shadow: 0 0 5px #000;
}

#nutritionApp p{
	font-size:0.5em;
}
#results{
	font-size:0.70em;
	display:flex;
	flex-direction:column;
	margin-top:0.5em;
}

#area{
	margin: 0 1em;
	font-size:0.75em;
	border: 1px solid #CDC;
}

#firstResult,
#secondResult,
#thirdResult{
	justify-content: space-between;
	margin-bottom:0.75em;
}

#s,#s1,#s2{
	background:#AAA;
	color:#000;
}


#submit{
	cursor:pointer;
}

@media(min-width:300px){
	#area{
	font-size:1em;
	}
}
}
