/* Styles for Weather App*/

#t,
#getWeather{
	cursor:pointer;
}

#weatherApp{
	text-align:center;
	font-size: 1.5em;
	padding-top:1em;
	max-height:28em;
	position:relative;
	z-index:1;
	}
	
#output{
	margin-top: 10em;
	}


#join{
}
	
#all{
	position:relative;
	visibility:hidden;
	width:100%;
	padding-left:40%;
	}
	
#moon{
	background-color:white;
	height:3.125em;
	width:3.125em;
}
#crater{
	background: rgba(0,0,0,0.05);
	height:1.875em;
	width:1.875em;
}
#moon,#crater,#sun{
  border-radius:50%;
}

#moon,#sun,#cloud{
	position:absolute;
	top:2em;
}

#sun{
  background-color:yellow;
  height:3.125em;
  width:3.125em;
}

#ray,#ray1,#ray2,#ray3{
	position:absolute;
	background-color:orange;
	height:3.125em;
	width:3.125em;
	animation-name: shine;
	animation-iteration-count: infinite;
	  opacity:.99;
	  z-index:-1;
}

#ray{
	animation-duration: 14s;
	animation-timing-function: ease-out;
}
#ray1{
  animation-duration: 12s;
  animation-timing-function: ease-in;
}
#ray2{
  animation-duration: 8s;
  animation-timing-function: linear;
}
#ray3{
  animation-duration: 4s;
  animation-timing-function: linear;
}
@keyframes shine{
	from {
			transform:rotate(0deg);
	}
    to {transform:rotate(360deg);
	}
}

#star1,#star2,#star3,#star4,#star5{
	position:absolute;
	background-color:white;
	height:0.063em;
	width: 0.063em;
	animation-name:sparkle;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}

#star1{
	top:0;
	left:0.375em;
  animation-duration: 5s;
}
#star2{
	top:0.625em;
	right:0;
  animation-duration: 3s;
}
#star3{
	bottom:0;
	left:0;
  animation-duration: 4s;
}
#star4{
	bottom:0.313em;
	right:0;
  animation-duration:2s;
}
#star5{
	top:0;
	right:0.25em;
  animation-duration:1s;
}
@keyframes sparkle{
  0%{background-color:#DDD;}
  25%{background-color:#AAA;}
  50%{background-color:#999;}
  75%{background-color:#555;}
  100%{background-color:#CCC;}
}

#cloud{
  top: 2.5em;
  z-index:1;
  background:#DADADA;
  width:1.875em;
  height:1.250em;
  padding:1%;
  border-top-right-radius:50%;
  border-top-left-radius:100%;
  border-bottom-right-radius:100%;
  border-bottom-left-radius:60%;
  animation-name:float;
  animation-duration:5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease;
}
#cloud1{
  z-index:-1;
  position:relative;
  background:#DFDFDF;
  width:4.375em;
  height:1.875em;
  padding:1%;
  margin-left:-0.25em;
  margin-top:3px;
  border-top-right-radius:40%;
  border-top-left-radius:70%;
  border-bottom-right-radius:60%;
  border-bottom-left-radius:30%;
}
#cloud2{
  position:relative;
  background:#DEDEDE;
  width:3.438em;
  height:3.125em;
  padding:1%;
  margin-left:0.313em;
  margin-top:-1.438empx;
  border-top-right-radius:100%;
  border-top-left-radius:100%;
  border-bottom-right-radius:100%;
  border-bottom-left-radius:70%;
}
@keyframes float{
  0%{margin-left:-1%;}
  25%{margin-left:-2.5%;}
  50%{margin-left:-4%;}
  75%{margin-left:-2.5%;}
  100%{margin-left:-1%;}
}
#rain{
  position:relative;
  z-index:-1;
  border-left:0.125em dotted #44F;
  border-right:0.125em dotted #44F;
  height:0.625em;
  width:1.250em;
  margin-top:2.813em;
  transform:rotate(20deg);
  padding-top:3.125em;
  transitionY:0.313em;
  animation-name:drip;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function: ease;
}
#rain1{
  border-left:0.125em dotted #44F;
  border-right:0.125em dotted #44F;
  height:0.313em;
  width:1.250em;
  margin-top:-3.438em;
  margin-left:0.625em;
  padding-top:3.125em;
  transitionY:0.313em;
}
@keyframes drip{
  0%{margin-top:75%;}
  25%{margin-top:70%;}
  50%{margin-top:75%;}
  75%{margin-top:70%;}
  100%{margin-top:75%;}
}

#bolts{margin-top:-240%;}
#bolt{
	transform:rotate(50deg);
	border-top-right-radius:100%; 
	position:absolute;
	}
#bolt,#bolt1,#bolt2{
	background:yellow;
	height:0.938em;
	width:0.625em;
	padding:0.125em;
	animation-name:strike;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}
#bolt1,#bolt2{
  margin-left:0.438em;
  margin-top:0.438em;
}
#bolt2{
  border-bottom-left-radius:100%;
}
@keyframes strike{
  0%{background-color:#FEFE2D;}
  25%{background-color:#FFFF51;}
  50%{background-color:#FFFF75;}
  75%{background-color:#FFFFA1;}
  100%{background-color:#FFF;}
}




/* Styles for Larger screens */

@media(min-width:18.75em){
	#moon,#sun,#cloud{
}
	#getWeather,
	#cityInfo{
		margin-left:2em;
		margin-right:2em;
	}
	#join{
		margin-bottom:1em;
		margin-left:2em;
		margin-right:2em;
	}
}

@media(min-width:25em){
	#moon,#sun,#cloud{
	}
	
}

@media(min-width:31.250em){
	#moon,#sun,#cloud{
	}
	#cloud{
		top:2em;
	}
	
}

@media (min-width:43.750em){
	#moon,#sun,#cloud{
	}
	#cloud{
		top:2.5em;
	}
}