#main_area img{
	margin: 1.75em;
}

#main_area p {
	padding: 0.5em;	
}

#main_area h3 {
	padding-left: 0.25em;
}

#big, #mtg, #cancer {
	height: auto;
}

#big {
	background-color:purple;
}

#big h3, #mtg h3, #cancer h3 {
	padding-left: 0em;
	text-align:center;
}

#big p {
	margin: 0.75em;
}

#cancer {
	background-color: lavender;
}

#mtg {
	background-color: silver;
	color: white;
}

#mtg-app {
	max-height: 33%;
}